# Ignore as pastas de compilação
release*/
debug*/
build*/

# Qt-es
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator
*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# workspace files are user-specific
*.sublime-workspace

#sftp configuration file
sftp-config.json

# Compiled Object files
*.slo
*.lo
*.o
#*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app